.fix-container {
  // margin-left: 245px;
  color: white;
  .table th,td {
    color: white;
  }
  .align-items-center h1 {
    margin-bottom: 50px;
  }
}
.create_ctn input[type=checkbox]
{
  -ms-transform: scale(1.3); /* IE */
  -moz-transform: scale(1.3); /* FF */
  -webkit-transform: scale(1.3); /* Safari and Chrome */
  -o-transform: scale(1.3); /* Opera */
  transform: scale(1.3);
  padding: 10px;
}

.create_ctn .form-control, .create_ctn .ap-input {
    width: inherit;
    background-color: $specialorange;
    color: white;
    border: none;
    &:focus {
        width: inherit;
        background-color: $specialorange;
        color: white;
        border: none;
    }
    &::-webkit-input-placeholder {
        color: rgba(255, 255, 255, .75);
    }
}
.create_ctn .ap-input {
    width: 70%;
}
.create_ctn .form-control-file {
    display: none;
}
.create_ctn .input-file-label {
    border-radius: 5px;
    padding: 10px 15px;
    width: 270px;
    text-align: center;
    background: rgba(255, 255, 255, .8);
    color: $specialorange;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    &:hover {
        background: $specialorange;
        color: rgba(255, 255, 255, .8);
        transition-duration: .3s;
    }
    i {
        display: block;
        font-size: 50px;
        text-align: center;
        padding-top: 5px;
    }
}
.create_ctn .form-check {
    padding-bottom: 20px;
    &:first-of-type {
        margin-top: 15px;
    }
    i {
        color: $specialorange;
        padding-left: 8px;
    }
}
