// .main-ctn {
//     margin: 0;
//     height: 100vh;
//     max-width: 100%;
//         .sidebar {
//             background-color: #2B2929;
//             height: calc(100vh - 118px);
//             position: fixed;
//             z-index: 9;
//             width: 245px;
//                 .user_info {
//                     padding-top: 15px;
//                     display: flex;
//                     align-items: baseline;
//                         .prof_pic_wrapper {
//                             width: 60px;
//                             img {
//                                 width: 100%;
//                                 border-radius: 50%;
//                             }
//                         }
//                         p {
//                             color: white;
//                             margin-left: 10px;
//                             font-size: 20px;
//                         }
//                     }
//                 ul {
//                     list-style-type: none;
//                     padding-top: 30px;
//                         li {
//                             color: white;
//                             padding: 20px 0;
//                             padding-left: 5px;
//                             border-radius: 3px;
//                             font-size: 18px;
//                                 &:hover {
//                                     background-color: #353333;
//                                     border-left: 2px solid $mainOrange;
//                                     cursor: pointer;
//                                 }
//                                 a {
//                                     text-decoration: none;
//                                     color: white;
//                                     padding: 5px 15px;
//                                 }
//                         }
//                 }
//         }
//     footer {
//         margin-left: 0;
//     }
// }
// #main {
//     background-color: $specialdark;
//     padding-top: 20px;
//     padding: 15px;
//     margin-left: 245px;
//     width: 100%;
//         .apt_card {
//             padding-top: 20px;
//             padding-bottom: 20px;
//             background-color: #353333;
//             border-radius: 6px;
//             margin-bottom: 20px;
//             color: rgba(255, 255, 255, .9);
//                 .apt_title {
//                     color: $mainOrange;
//                 }
//                 &:first-child {
//                     margin-top: 65px;
//                 }
//                 ul {
//                     list-style-type: none;
//                     font-size: 18px;
//                         li {
//                             padding: 5px 0;
//                                 i {
//                                     padding-left: 4px;
//                                     color: $mainOrange;
//                                     font-size: 20px;
//                                 }
//                             &:first-child {
//                                 color: $mainOrange;
//                             }
//                         }
//                 }
//                 .buttons {
//                     margin-top: 10px;
//                     display: flex;
//                     justify-content: center;
//                         button, .btn-info {
//                             margin: 0 20px;
//                             color: white;
//                         }
//                 }
//         }
//         .apt_info {
//                 p {
//                     text-align: center;
//                     font-size: 23px;
//                 }
//         }
//         h2 {
//
//         }
//         .poster_wrapper img {
//             padding: 0;
//             border-radius: 5px;
//         }
// }
// .dashboard_header {
//     background: #2B2929;
//     padding: 25px 5px;
//     position: absolute;
//     top: 85px;
//     left: 245px;
//     width: 100%;
//         &+ .apt_card {
//             margin-top: 80px;
//         }
//         h2 {
//             color: white;
//             font-size: 20px;
//             margin-bottom: 0;
//         }
// }
//
// @media screen and (max-width: 800px) {
//     .sidebar {
//         width: 80px !important;
//             ul {
//                 text-align: center;
//                     li a {
//                         display: none;
//                     }
//             }
//             .user_info {
//                 p {
//                     display: none;
//                 }
//                 .prof_pic_wrapper {
//                     padding-left: 5px;
//                 }
//             }
//             .side_wrap {
//                 padding: 0;
//             }
//   }
//   .dashboard_header {
//       left: 80px;
//   }
//   #main {
//       margin-left: 80px;
//   }
// }
main {
  background-color: white;
}
.plans {
    p {
        font-size: 15px;
        text-align: center;
        margin-top: -31px;
    }
    .plans_wrap {
        display: flex;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: -30px;
            .plan_card {
                flex-direction: column;
                display: flex;
                align-items: center;
                justify-content: space-between;
                background: #ece4e1;
                color: $mainOrange;
                padding: 15px;
                width: 250px;
                border-radius: 10px;
                margin-top: 30px;
                    .price {
                        font-size: 30px;
                        font-style: italic;
                    }
                    h3 {
                        font-weight: bold;
                    }
                    h2 {
                        font-size: 24px;
                        color: $specialdark;
                    }
                    a {
                        background-color: $mainOrange;
                        color: $specialdark;
                        padding: 6px;
                        border-radius: 5px;
                        margin-top: 25px;
                        width: 145px;
                        text-align: center;
                            &:hover {
                                text-align: center;
                                background-color: white;
                                color: $mainOrange;
                                text-decoration: none;
                                transition-duration: .2s;
                            }
                    }
            }
    }
}
.profile_image {
  height: 50px;
  border-radius: 90px;
}
.sidebar {
  color: #ccc;
  background: $specialdark;
  position: fixed;
  left: 0;
  width: 245px;
  height: 100%;
  transition: 0.5s;
  transition-property: left;
  h4 {
    padding-top: 50px;
    margin-bottom: 50px;
  }
  p {
    float: right;
    margin-top: 20px;
    margin-left: 2px;
    cursor: pointer;
  }
  a {
    color: white;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
    &:hover{
      border-left: 2px solid $specialorange;
      background: grey;
    }
  }
  i {
    padding-right: 10px;
  }
}

label #sidebar_btn {
  padding-top: 12px;
  padding-bottom: 30px;
  padding-left: 37px;
  color: white;
  cursor: pointer;
  font-size: 25px;
  margin: 5px 0;
  transition: 0.5s;
  transition-property: color;
  &:hover {
    color: $specialorange;
  }
}

label #sidebar_btn_2 {
  display: none;
}

#check:checked ~ .sidebar {
  left: -190px;
  a span {
    display: none;
  }
  label #sidebar_btn {
    display: none;
  }
  .admin_p {
    display: none;
  }
  a {
    font-size: 20px;
    margin-left: 170px;
    width: 80px;
    // margin-bottom: 5px;
  }
  label #sidebar_btn_2 {
    display: block;
    padding-left: 211px;
    font-size: 20px;
    margin-top: 25px;
    margin-bottom: 20px;
    cursor: pointer;
    &:hover {
      color: $specialorange;
    }
  }
}
.content {
  width: calc(100% - 245px);
  padding-bottom: 52px;
  margin-left: 245px;
  background-color: #616161;
  transition: 0.5s;
  color: white;
}

@media screen and (max-width: 700px) {
    .content {
        width: calc(100% - 60px);
    }
    .buttons button {
        margin-bottom: 10px;
    }
}
#check:checked ~ .content {
    width: calc(100% - 60px);
    margin-left: 60px;
}

#check {
  display:none;
}

.dashboard_header {
  background-color: rgba(29,29,29,0.7);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

.apt_card {
  border-radius: 8px;
  padding: 35px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #353333;
}

.poster_wrapper {
    margin: auto;
    margin-bottom: 20px;
}

.btn-info {
    margin-left: 9px;
    background-color: grey;
    border-color: darkgrey;
    a {
      text-decoration: none;
      color: white;
    }
}

.buttons {
  justify-content:center;
}

.buttons button {
    padding: 0;
}

.buttons button a{
    padding: 15px;
}

.btn-delete {
  margin-left: 9px;
}

.info_wrap {
  .fa, .fas {
    margin-left: 10px;
    color: $specialorange;
  }
}

#alert-transaction, #alert-active-sponsor {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 90;
    top: 0;
    width: 100%;
    background: #299a29bf;
    color: #ededed;
    font-size: 18px;
    height: 70px;
        p {
            margin-bottom: 0;
        }
}

#alert-active-sponsor {
    background: #c5bc47ba;
}

.create_btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    .create {
        background-color: $mainOrange;
        color: #616161;
        padding: 6px 20px;
        border-radius: 5px;
        margin-top: 25px;
        text-align: center;
        font-size: large;
        font-weight: bolder;
        &:hover {
            text-align: center;
            background-color: rgba(255, 255, 255, .8);
            color: $mainOrange;
            text-decoration: none;
            transition-duration: .3s;
        }
    }
    h3 {
        font-size: 18px;
    }
}
