.footer {
    padding-bottom: 10px;
    margin-left: 50px;
    margin-top: 20px;
    background-color: $specialdark;
    color: white;
    a {
        color: white;
        text-decoration: none;
        padding-left: 10px;
    }
}
