
.language {
    cursor: pointer;
    margin-top: 3px;
    color: grey;
    &:hover {
      color: lightgrey;
    }
    padding-top: 5px;
    padding-right: 10px;
}

.navbar-dark {
  background-color: $specialdark;
}

.navbar-brand img{
  height: 60px;
}

.button{
  border: none;
  padding: 10px;
  margin-right: 20px;
  border-radius: 8px;
  color: white;
  background-color: $specialorange;
  p {
    margin-bottom: 0px;
  }
  &:hover {
    color: white;
  }
}

.dropdown-menu-lg-lang {
  position: absolute;
  margin-right: 70px;
  top: 75%;
}

.nav-item.avatar.dropdown {
    cursor: pointer;
}
