.messages-list-wrapper {
    margin: 100px auto;
    background-color: white;
    border: 2px solid rgba(29, 29, 29, 0.87);
    border-radius: 5px;
    color: white;
    .messages-list-header {
        background-color: rgba(29, 29, 29, 0.87);
        color: white;
        padding: 8px;
        margin-left: -15px;
        margin-right: -15px;
    }
}
.message-read-wrapper {
    width: 70%;
    margin: 100px auto;
    background-color: #616161;
    border: 2px solid #616161;
    border-radius: 5px;
    color: white;
    .message-read-header {
        background-color:#616161;
        color: black;
        padding: 8px;
    }
    .message-read-apartment-ref{
        padding: 4px 8px;
        background-color: lightgray;
        color: black;
    }
    .message-read-body {
        padding: 8px;
    }
}
.message-create-wrapper {
    width: 70%;
    margin: 100px auto;
    background-color: #616161;
    border: 2px solid #FF6633;
    border-radius: 5px;
    color: white;
    .message-create-header {
        background-color:#FF6633;
        color: black;
        padding: 8px;
    }
    .message-create-apartment-ref{
        padding: 4px 8px;
        background-color: lightgray;
        color: black;
    }
    .message-create-body {
        padding: 8px;
    }
    .message-btn-main {
        background-color: #FF6633;
        color: white;
    }
    .message-btn-back {
        background-color: inherit;
        color: #FF6633;
    }
}

.btn-message {
  margin-left: 0;
  margin-bottom: 10px;
  background-color: lightgray;
  &:hover {
    background-color: gray;
    border-color: lightgray;
  }
}
