.search-wrapper {
    background-color: lightgrey;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    margin-bottom: 50px;
    border-radius: 8px;
    .search-header {
        background-color: lightgrey;
        padding-top: 2px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: black;
        #search-submit {
            border-radius: 8px;
            padding: 8px 16px;
            background-color: orange;
            color: white;
            border:none;
        }
    }
    .search-body {
        .search-results-filters {
            padding: 8px;
            background-color: #616161;
            color: white;
            h4 {
                padding-left: 10px;
            }
            #filters-list {
                display: flex;
                flex-wrap: wrap;
                div {
                    padding: 10px;
                }
            }
        }
        .search-results-details {
            background-color: #F1F1F1;
            color: white;
            padding-bottom: 14px;
            border-radius: 8px;
            #results-count {
                padding: 8px 15px;
                color: black;
                p {
                    text-transform: uppercase;
                    text-align: center;
                }
            }
            .btn {
              border: none;
              color: white;
              margin-left: 50%;
            }
            #sponsored-results {
                padding: 0px;
                #sponsored-header {
                    p {
                        padding: 10px;
                        color: black;
                        font-weight: bold;
                        margin-bottom: 0;
                    }
                    background-color: orange;
                    text-align: center;
                }
            }
            .sponsored-border {
                border: 9px solid orange;
            }
            .result-item {
                text-align: center;
                background-color: #313131;
                h6 {
                    background-color: black;
                    font-size: 25px;
                    text-align: center;
                    padding: 8px;
                }
                .result-item-body {
                    padding: 8px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-around;
                    img {
                        border: 1px solid lightgrey;
                        width: 250px;
                        height: 200px;
                        margin-bottom: 20px;
                    }
                    .result-item-details {
                        padding: 8px;
                        text-align: left;
                    }
                }
                .result-view {
                    padding: 8px;
                    color: black;
                    background-color: orange;
                    margin: 10px auto;
                    margin-bottom: 30px;
                }
            }
        }
    }
}
.apartment-detail-wrapper {
    background-color: #313131;
    color: White;
    margin-bottom: 200px;
    .apartment-detail-header {
        background-color: #FF6633;
        color: black;
    }
    img {
        width: 100%;
        border: 1px solid lightgrey;
        border-top: none;
    }
    .apartment-info-wrapper {
        margin-top: 10px;
        .apartment-map {
            .map {
                height: 400px;
                width: 100%;
            }
        }
        .apartment-info {
            display: inline-block;
            margin-top: 40px;
            strong {
                color: #FF6633;
            }
            i {
                color: #FF6633;
            }
            .apartment-services {
                display: inline-block;
                background-color: black;
                padding: 15px;
                ul {
                    li {
                        padding: 8px;
                        border: 1px solid lightgrey;
                    }
                }
            }
        }
    }
    .apartment-links {
        padding: 20px;
        .apartment-btn-main {
            background-color: #FF6633;
            color: white;
        }
        .apartment-btn-back {
            background-color: inherit;
            color: #FF6633;
        }
    }
}
