* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    overflow-x: hidden;
}
i {
    font-style: normal;
}
a {
    text-decoration: none;
}
ol, ul {
    list-style-type: none;
}
html, body {
    max-width: 100%;
    overflow-x: hidden;
}
.ap-icon-pin, .ap-icon-clear {
    display: none;
}
