#views_per_month {
    display: none;
    max-width: 800px;
    margin: 0;
    text-align: center;
}
#msg_per_month {
    display: none;
    max-width: 800px;
    margin: 0;
    text-align: center;
}
h2 {
    color: white;
}

.bg-spdark {
  text-align: center;
  background-color: $specialdark;
  padding: 10px;
  border-radius: 8px;
}

.view_data {
  padding-top: 30px;
}

.container_view {
  margin-left: 10%;
  margin-right: 10%;
}

#ChartMessage {
  margin-bottom: 40px;
}

@media screen and (max-width: 700px) {
  .container_view {
    margin-left: 0;
    margin-right: 0;
  }
}
