#views_per_month {
    display: none;
    max-width: 800px;
    margin: 0;
    text-align: center;
}
#msg_per_month {
    display: none;
    max-width: 800px;
    margin: 0;
    text-align: center;
}
h2 {
    color: white;
}
