.custom-auth-form {
    margin-top: 100px;
}

.custom-auth-form-header {
    background-color: #FF6633;
}


.custom-auth-form-body {
    background-color: #616161;

    .btn-primary {
        background-color: #FF6633;
    }

    .btn-link {
        color: white;
    }
}